<%% form_for @<%= singular_name %>, :url=>"/<%=plural_name%>/submit" do |t| %>
  <%%= t.error_messages %>
  <p>
    <%%= t.label :title, 'Title' %><br>
    <%%=  t.text_field :title, :value=>@title %>
  </p>

  <p>
    <%%= t.label :url, 'Url' %><br>
    <%%=  t.text_area :url, :value=>params[:url], :cols=>"80", :rows => "2" %>
  </p>

  <p>
    <%%= t.label :description, 'Your description of this page' %><br>
      <%%= t.text_area :description, :cols => "80", :rows => "3" %>
  </p>

  <p>
    <%%=submit_tag%>
  </p>
<%% end %>

